@media (max-width: 768px) {
  * {
    font-size: 30px;
  }
}





.discografia {
  display: grid;
  grid-gap: 22px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }


}


@media (max-width: 768px) {
  .sectiontitulo {
    font-size: 40px;
  }
}






.grid-banda {
 
  display: grid;
  grid-gap: 22px;


  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-background;
  padding: 10px 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

}
.imagenuno {
  // Definir el tamaño de fondo y la imagen de fondo
  background: url(trotsky_vengaran-ea56f.jpg) no-repeat;
  background-size: 100% auto; // Cambia el tamaño de fondo para ocupar el ancho de la pantalla
  width: 100%; // Establece el ancho del elemento al 100% del contenedor
  height: 100vh; // Establece la altura al 100% de la altura de la pantalla

  @media (max-width: 768px) {
    // Cambiar el tamaño de fondo para pantallas pequeñas
    background-size: 100% auto;
    width: 100%;
    height: auto; // Permitir que la altura se ajuste automáticamente
  }
}

.sectioncontacto {
  color: $colorletra;
  max-width: 100%; 
  margin: 0 auto; 
  padding: 20px;
  margin-bottom: 20px;
  font-size: 16px; 
}

@media (max-width: 768px) {
  .sectioncontacto {
      font-size: 14px; 
      padding: 10px; 
  }
}
