@media (max-width: 320px) {
    * {
        font-size: 20px;
    }
}

@media (min-width: 320px) {
    .discografia {
      grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 320px) {
    .sectiontitulo {
        font-size: 20px;
        
    }
}


.imagenuno {
    background: url(trotsky_vengaran-ea56f.jpg) no-repeat;
    background-size: 100% auto; 
    width: 100%; 
    height: 100vh; 
  
    @media (max-width: 320px) {
      background-size: 100% auto;
      width: 100%;
      height: auto; 
    }
  }

  .sectioncontacto {
    color: $colorletra;
    max-width: 100%; 
    margin: 0 auto; 
    padding: 20px;
    margin-bottom: 20px;
    font-size: 16px; 
}

@media (max-width: 320px) {
    .sectioncontacto {
        font-size: 14px; 
        padding: 10px; 
    }
}

.integrantes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media (max-width: 320px) {
        flex-direction: column;
    }
}

.grid-banda {
    @media (min-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
    }
}